<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szq.mybatisswagger2.dao.TbsFeelMapper">
  <resultMap id="BaseResultMap" type="com.szq.mybatisswagger2.domain.TbsFeel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="feel" jdbcType="LONGVARCHAR" property="feel" />
  </resultMap>
</mapper>